@import '../scss/_mixins';

.default {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-y: clip;
	overflow-x: hidden;
}

@include media($max: $mobile) {
	.default {
		min-height: 100vh;
		padding-top: 200px;
		width: 100%;
		padding-bottom: 100px;
	}

	
}